.amethyst{
  color: #e6e3d9;
}
body {
  background-color: #1b1f1d;
  font-family: "Segoe UI", Roboto, sans-serif;
}

.dropdown {
  padding: 5px 10px;
}

header {
  color: #c2a14d;
  border-bottom: 1px solid gold;
  font-family: Gerogia, serif;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}

header a {
  color: #c2a14d;
  text-decoration: none;
}
header a:hover, a:hover {
  color: #d8bc6a;
}
html {
  height: 100%;
  width: 100%;
}

h1 {
  color: #c2a14d;
  font-style: italic;
  text-align: center;
}

h4 {
  color: gold;
  font-style: italic;
  margin-bottom: -1px;
  text-decoration: underline;
}

.note {
  color: crimson;
  font-style: italic;
  text-align: center;
}

.personal {
  color: #a8ada9;;
  text-decoration: underline;
}

.professional {
  color: #5b3b8a;
  text-decoration: underline;
}

section {
  margin-bottom: 4rem;
}
select {
  border-radius: 5px;
}
summary h2, summary h3 {
  display: inline;
  margin: 5px 5px 10px 5px;
}
.silverback {
  color: #e6e3d9;
}
.tech {
  color: silver;
  text-decoration: underline;
}
.tech2{
  color: #e6e3d9;
  text-decoration: underline;
}
.tech-li {
  color: #e6e3d9;
  margin-top: -1px;
}
.tech-li2 {
  color: #e6e3d9;
  margin-top: -1px;
}
.des {
  color: #e6e3d9;
  text-decoration: underline;
}
.des2 {
  color: #e6e3d9;
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}